# Node
node_modules

# Build artifacts
dist
.next

# Env
.env
.env.*
*.env

# Docker
postgres_data

# IDE
.idea
.vscode

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/

# Uploads
packages/api/uploads/