version: "3.8"
services:
    db:
        image: postgres:15
        container_name: meca-tech-db
        restart: always
        ports:
            - "5432:5432"
        environment:
            POSTGRES_USER: admin
            POSTGRES_PASSWORD: password
            POSTGRES_DB: meca_tech
        volumes:
            - postgres_data:/var/lib/postgresql/data

volumes:
    postgres_data:
